<div *ngIf="view == 'students'">
  <ion-list>
    <ion-list-header (click)="close()" >X</ion-list-header>
    <button ion-item (click)="printCourse()">Print Course</button>
  </ion-list>
</div>
<div *ngIf="view == 'notes'">
  <ion-list>
    <ion-list-header (click)="close()" >X</ion-list-header>
    <button ion-item (click)="printCourse()">Print Course</button>

  </ion-list>
</div>
<div *ngIf="view == 'categories'">
  <ion-list>
    <ion-list-header (click)="close()" >X</ion-list-header>
    <button ion-item (click)="printCourse()">Print Course</button>
  </ion-list>
</div>
