<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Daten</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item>
            <ion-label>Entwicklungsmodus</ion-label>
            <!-- <ion-toggle [(ngModel)]="settingsService.ENVIRONMENT_IS_DEV" (ionChange)="settingsService.setEnvironment(env)" color="secondary"></ion-toggle> -->
            <ion-toggle [(ngModel)]="settingsService.ENVIRONMENT_IS_DEV" color="secondary"></ion-toggle>
    </ion-item>    
    <div *ngIf="settingsService.ENVIRONMENT_IS_DEV">
        <ion-item>
            <ion-label>Android Features</ion-label>
            <ion-toggle [(ngModel)]="show_android_features" color="secondary"></ion-toggle>
        </ion-item>
        <ion-item> 
            <ion-label>Desktop Features</ion-label>
            <ion-toggle [(ngModel)]="show_desktop_features" color="secondary"></ion-toggle>
        </ion-item>
        <h3>Mock Data</h3>
        <ion-list>
            <button ion-button color="primary" block (click)="addMockData()">Testdaten hinzufügen</button>
            <button ion-button color="primary" block (click)="removeStudents()">Studenten Löschen</button>
            <button ion-button color="primary" block (click)="removeCourses()">Kurse Löschen</button>
        </ion-list>
        <ion-list *ngIf="show_android_features">
                <h3>Android Debug Functions</h3>
            <button ion-button color="primary" block (click)="createDirManually()">createDir</button>
            <button ion-button color="primary" block (click)="deleteDirManually()">deleteDir</button>
            <button ion-button color="primary" block (click)="checkDirManually()">checkDir</button>
            <button ion-button color="primary" block (click)="listDir()">ListDir</button>
            <button ion-button color="primary" block (click)="test()">test</button>
        </ion-list>
    </div>
    <ion-list *ngIf="show_desktop_features">
        <h3>Data (Browser)</h3>
        <ion-title>Export</ion-title>
        <ion-item>
            <button ion-button color="primary" block (click)="downloadDataOnBrowser()">Daten Exportieren</button>
        </ion-item>
        <ion-title>Import</ion-title>
        <ion-item>
            <ng2-file-input [drop-text]="' '" [browse-text]="'Ziehe .csv Datei oder klicke zum Auswählen'" (onAction)="onAction($event)"></ng2-file-input>
        </ion-item>
    </ion-list>
    <ion-list>
        {{fileInfo | json }}
        <div *ngIf="show_android_features">
            <h3 *ngIf="settingsService.ENVIRONMENT_IS_DEV">Data (Android)</h3>
            <button ion-button color="primary" block (click)="makeBackup()">Backup erstellen</button>
            <h4 *ngIf="filesInDir && filesInDir.length > 0">Verfügbare Backups:</h4>
            <ion-list>
                <ion-item-sliding #slidingItem *ngFor="let file of filesInDir">
                    <ion-item *ngIf="file.isFile" block (click)="toastService.showToast('Links-Swipe für Optionen')">
                        <ion-icon name="document"></ion-icon>&nbsp;{{file.name}}
                    </ion-item> 
                    <ion-item-options>
                        <button large style="width:75px;" ion-button color="danger" (click)="deleteBackupFileOnAndroid(file);closeSlidingItem(slidingItem)">
                                      <ion-icon name="trash"></ion-icon>
                                  </button>
                        <button large style="width:75px;" ion-button color="primary" (click)="restoreBackupFromFileOnAndroid(file);closeSlidingItem(slidingItem)">
                                      <ion-icon name="checkmark"></ion-icon>
                                  </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
    </ion-list>
</ion-content>