<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Daten</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-title>Einstellungen</ion-title>
    <ion-item *ngIf="settings && settings.SHOWDEVSWITCH">
        <ion-label>Entwicklungsmodus</ion-label>
        <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'ENVIRONMENT_IS_DEV')"
            [(ngModel)]="settings.ENVIRONMENT_IS_DEV" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="settings && settings.PLATFORM == 'android'">
        <ion-label>Autobackup beim Wiederherstellen</ion-label>
        <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'AUTOBACKUP_ON_RESTORE')"
            [(ngModel)]="settings.AUTOBACKUP_ON_RESTORE" color="secondary"></ion-toggle>
    </ion-item>
    <!-- <ion-item>
        <ion-label>Leistungsberechnung aktivieren</ion-label>
        <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'GRADE_CALCULATION_FEATURE')"
            [(ngModel)]="settings.GRADE_CALCULATION_FEATURE" color="secondary"></ion-toggle>
    </ion-item> -->
    <div *ngIf="settings && settings.GRADE_CALCULATION_FEATURE">
        <ion-item>
            <ion-label>Kursliste nach Leistung ordnen</ion-label>
            <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'AUTOSORT')"
                [(ngModel)]="settings.AUTOSORT" color="secondary"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Leistungsberechnung mit Schwelle</ion-label>
            <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'MINIMUM_THRESHOLD_CALCULATION')"
                [(ngModel)]="settings.MINIMUM_THRESHOLD_CALCULATION" color="secondary"></ion-toggle>
        </ion-item>
        <div *ngIf="settings && settings.MINIMUM_THRESHOLD_CALCULATION">
            <ion-item>
                <ion-label>Minimum</ion-label>
                <ion-input (ngModelChange)="updateSetting($event, 'MINIMUM_VALUE')" [(ngModel)]="settings.MINIMUM_VALUE"
                    color="secondary"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Schwellenwert</ion-label>
                <ion-input (ngModelChange)="updateSetting($event, 'THRESHOLD_VALUE')"
                    [(ngModel)]="settings.THRESHOLD_VALUE" color="secondary"></ion-input>
            </ion-item>
        </div>
        <ion-item>
            <ion-label>Gesamtbewertung in Note umwandeln</ion-label>
            <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'SHOW_MARK')"
                [(ngModel)]="settings.SHOW_MARK" color="secondary"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="settings && settings.SHOW_MARK">
            <ion-label>Notendefinition bearbeiten</ion-label>
            <ion-toggle [(ngModel)]="set_custom_mark_string" color="secondary"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="settings && settings.SHOW_MARK && set_custom_mark_string">
            <ion-label>Notendefinition:</ion-label>
            <ion-input *ngIf="settings" (ngModelChange)="updateSetting($event, 'MARK_STRING')"
                [(ngModel)]="settings.MARK_STRING" color="secondary"></ion-input>
        </ion-item>
        <ion-item *ngIf="settings && settings.SHOW_MARK && set_custom_mark_string">
            <button ion-button color="primary" block (click)="checkMarkString()">Notendefinition prüfen</button>
        </ion-item>
    </div>
    <ion-item>
        <ion-label>Testdaten und schnelles Löschen</ion-label>
        <ion-toggle *ngIf="settings" (ngModelChange)="updateSetting($event, 'TEST_FEATURES')"
            [(ngModel)]="settings.TEST_FEATURES" color="secondary"></ion-toggle>
    </ion-item>
    <div *ngIf="settings && settings.ENVIRONMENT_IS_DEV">
        <ion-list *ngIf="settings && settings.ENVIRONMENT_IS_DEV && settings.PLATFORM == 'android'">
            <h3>Android Debug Functions</h3>
            <button ion-button color="primary" block (click)="createDirManually()">createDir</button>
            <button ion-button color="primary" block (click)="deleteDirManually()">deleteDir</button>
            <button ion-button color="primary" block (click)="checkDirManually()">checkDir</button>
            <button ion-button color="primary" block (click)="listDir()">ListDir</button>
        </ion-list>
    </div>
    <div *ngIf="settings && settings.TEST_FEATURES">
        <ion-list>
            <button ion-button color="primary" block (click)="checkAndUpdateData()">Daten Prüfen</button>
            <button ion-button color="primary" block (click)="resetSettings()">Einstellungen zurücksetzen</button>
            <button ion-button color="primary" block (click)="addMockData()">Testdaten hinzufügen</button>
            <button ion-button color="primary" block (click)="removeStudents()">Studenten Löschen</button>
            <button ion-button color="primary" block (click)="removeCourses()">Kurse Löschen</button>
        </ion-list>
    </div>
    <ion-list *ngIf="settings && settings.PLATFORM == 'desktop'">
        <br>
        <ion-title>Datenexport (Browser)</ion-title>
        <ion-item>
            <button ion-button color="primary" block (click)="downloadDataOnBrowser()">Daten Exportieren</button>
        </ion-item>
        <ion-title>Datenimport (Browser)</ion-title>
        <ion-item>
            <ng2-file-input [drop-text]="' '" [browse-text]="'Ziehe Datei oder klicke zum Auswählen'"
                (onAction)="presentRestoreFromBackupOnBrowserConfirm($event)">
            </ng2-file-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="settings && settings.PLATFORM == 'android'">
        <br>
        <button ion-button color="primary" block (click)="openFileChooser()">
            <ion-icon float-left name="folder"></ion-icon>&nbsp;Backup auswählen
        </button>
        <br>
        <button ion-button color="primary" block (click)="makeBackup()">
            <ion-icon name="download"></ion-icon>&nbsp;Backup erstellen
        </button>
        <h4 *ngIf="filesInDir && filesInDir.length > 0">In ./StudentMgmt verfügbare Backups:</h4>
        <ion-list><br>
            <ion-item-sliding #slidingItem *ngFor="let file of filesInDir | orderBy : 'name' : true">
                <ion-item *ngIf="file.isFile" block (click)="toastService.showToast('Links-Swipe für Optionen')">
                    <ion-icon name="document"></ion-icon>&nbsp;{{file.name}}{{file.lastModified}}
                </ion-item>
                <ion-item-options>
                    <button large style="width:75px;" ion-button color="danger"
                        (click)="presentDeleteBackupOnAndroidConfirm(file);closeSlidingItem(slidingItem)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                    <button large style="width:75px;" ion-button color="primary"
                        (click)="editFileName(file);closeSlidingItem(slidingItem)">
                        <ion-icon name="information-circle"></ion-icon>
                    </button>
                    <button large style="width:75px;" ion-button color="dark"
                        (click)="presentRestoreFromBackupOnAndroidConfirm(file);closeSlidingItem(slidingItem)">
                        <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-list>
</ion-content>