<!--
  Generated template for the StudentAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Studenten Hinzufügen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Student hinzufügen</h3>
    <form [formGroup]="form" (ngSubmit)="addStudentFromForm()">
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>Vorname</ion-label>
                <ion-input type="text" formControlName="firstname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" floating>Nachname</ion-label>
                <ion-input type="text" formControlName="lastname"></ion-input>
            </ion-item>
            <ion-list>
                <button ion-button block color="primary" type="submit" [disabled]="!form.valid">Hinzufügen</button>
            </ion-list>
        </ion-list>
    </form>

    <h3>Studenten aus CSV</h3>
    <!-- TODO: Check if the csv File is in valid Format -->
    <p>Die <a href="https://www.google.com/search?q=csv">.csv Datei</a> muss das Folgende Format haben:</p>
    <pre>
      firstname, lastname
      Max, Mustermann 
      Michael, Jackson
  </pre>
    <ng2-file-input [drop-text]="' '" [show-previews]="false" [extensions]="['csv']" [invalid-file-text]="'Keine .csv Datei ausgewählt'" [browse-text]="'Ziehe .csv Datei oder klicke zum Auswählen'" (onAction)="onAction($event)"></ng2-file-input>
    <div *ngIf="control_data" padding-top>
        <h3>Bewertungen aus CSV</h3>
        <ol>
            <li>Kategorien auswählen, für die Bewertungen hinzugefügt werden sollen. Danach die Datei downloaden. Sie wird in <pre>./StudentMgmt/csv-export/bewertungs-csv</pre> gespeichert</li>
            <li>Bewertungen in Tabellenkalkulationsprogramm (etwa <a href="https://de.libreoffice.org/discover/calc/">LibreOffice Calc</a>) in die Datei eintragen. Pro Kategorie gibt es zwei Spalten: NAME und ID. Die Bewertungen müssen unter der ID eingegeben werden.</li>
            <li>Datei in die App laden</li>
        </ol>
        <ion-item>
            <ion-label floating>Kategorien auswählen</ion-label>
            <ion-select *ngIf="flatened_categories" name="category" [(ngModel)]="selected_categories" multiple="true" (ngModelChange)="onCategorySelect(selected_categories)" cancelText="Abbrechen" okText="Ok">
                <ion-option *ngFor="let category of flatened_categories" [value]="category">{{category.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-list>
            <button ion-button block color="primary" (click)="exportCourseData()">Datei Downloaden</button>
        </ion-list>
        <ng2-file-input [drop-text]="' '" [show-previews]="false" [extensions]="['csv']" [invalid-file-text]="'Keine .csv Datei ausgewählt'" [browse-text]="'Ziehe .csv Datei oder klicke zum Auswählen'" (onAction)="onGradingCsvAction($event)"></ng2-file-input>
    </div>
</ion-content>